# PlatformIO stuff
.pio

# VSCode stuff
.vscode

# Disassembly output
disassembly.txt

# SSL/TLS certs
certs/
*.der
*.fp
*.pem
*.fpn
*.crt

# macOS stuff
.DS_Store
/.DS_Store

# Gerber package
*.zip

# Salesforce extension crap. No idea why the hell it
# creates this in literally every single folder I open
# in code.... but whatevs. Ignore it here.
.sfdx/

# Ignore all backup files.
*.bak